<form class="formSearcher" [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>City</mat-label>
      <input type="text" matInput formControlName="city" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (change)="onChangeCity()">
          <mat-option *ngFor="let option of cities" [value]="option.city_name+'-'+option.display" (click)="onSelectedCity(option)">{{option.city_name}} - {{option.display}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="search()"  [attr.disabled]="!form.valid ? true : null">Search</button>
    </div>
</form>
<br>
<div style="color: white;">
    <mat-tab-group *ngIf="weather.length > 0" mat-stretch-tabs="false" mat-align-tabs="start" style="background: #4a4a4a;">
        <mat-tab *ngFor="let date1 of weather" label="{{date1.date | date}}" >
                <mat-card *ngFor="let data of date1.values">
                    <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>{{form.value.cityData.city_name}}-{{form.value.cityData.display}}</mat-card-title>
                        <mat-card-subtitle>{{data.dt_txt}}</mat-card-subtitle>
                    </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-icon>cloud_queue</mat-icon>
                        <div style="margin: 50px 0;">
                            <h1>Min temperature: {{data.main.temp_min}}&#186; / Max temperature: {{data.main.temp_max}}&#186;</h1>
                        </div>
                    </mat-card-content>
                </mat-card>
    </mat-tab>
    </mat-tab-group>
</div>