.formSearcher{
    display: contents;
}

mat-icon{
    transform: scale(4);
    color: white;
}

mat-card-content{
    padding: 50px;
}

mat-card{
    margin: 2% 0;
    border-top: 1px solid;
}

mat-tab-header {
    background: #4a4a4a !important;
}